/* Color */
$clr-primary-400: #7ed56f;
$clr-primary-500: #55c57a;
$clr-primary-600: #28b485;

$clr-secondary-400: #ffb900;
$clr-secondary-500: #ff7730;

$clr-tertiary-400: #2998ff;
$clr-tertiary-500: #5643fa;

$clr-white: #fff;
$color-grey-light-1: #f7f7f7;
$clr-grey-light-500: #eee;

$clr-grey-dark: #777;
$clr-grey-500: #999;
$clr-grey-600: #333;

$clr-black: #000;

/* Font */
$default-font-size: 1.6rem;

/* Grid */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;
