/* Hero */
.hero {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 9rem;
  column-gap: 10vw;
  row-gap: 5rem;

  padding: 10rem 20vmin;

  &__details {
    color: $clr-grey-dark;
    flex: 1 1 40vw;
  }

  &__paragraph {
    margin-bottom: 3rem;
  }

  &__heading {
    order: -1;

    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.5;
    color: rgba($clr-black, 0.9);
    margin-bottom: 2.5rem;
  }

  &__img-container {
    display: flex;
  }

  &__img {
    image-rendering: crisp-edges;
    height: 25rem;
    width: 25rem;
  }
}

.about {
  background-color: #edf7fa;
  padding: 35rem 20rem;

  &-card {
    margin: 0 auto;
    background-color: #fff;
    padding: 4rem;
    transition: all 0.2s;
    border-radius: 1rem;

    &:hover {
      @include boxShadow;
    }

    &:active {
      box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.1);
      translate: 0 0.3rem;
    }

    &__details {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 4rem;
    }

    &__detail {
      flex: 0 1 30%;
      border-right: 8px solid #edf7fa;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    &__intro {
    }

    & p {
      line-height: 1;
    }

    & small {
      color: $clr-grey-dark;
    }

    &__image {
      transform: translateX(40%);
      margin-bottom: 1.5rem;

      background-size: 13rem 12rem;
      background-repeat: no-repeat;
      background-color: #edf7fa;
      background-position: right;
      object-fit: cover;
      width: 10rem;
      height: 10rem;
      overflow: hidden;
      border-radius: 50%;
    }
  }

  &-full-details {
    flex: 1 1 60ch;
    margin-top: 3.5rem;
    color: $clr-grey-dark;

    & p {
      padding-left: 2rem;
      line-height: 1.7;
    }
  }
}

.project {
  grid-column: span 2;
  padding: 20rem;
  background: #edf7fa;
}

.contacts {
  .info {
    grid-column: 1;
    padding: 20rem;

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 0.8rem;

      & > small {
        display: flex;
        column-gap: 0.4rem;
        color: $clr-grey-600;

        & > span {
          color: $clr-grey-dark;
        }
      }
    }
  }

  .contact {
    grid-column: 2;
    padding: 20rem;

    &__images {
      display: flex;
      column-gap: 2rem;
    }
  }
}
